@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.carousel ::v-deep(.el-carousel__item) {
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-carousel__mask {
    background-color: transparent !important;
}

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #313131; /* fallback se .geral falhar */
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

}
